body {
    background-color: #eceaea;
}
.title{
    height:40px;
    line-height: 40px;
    font-size: 17px;
    color: gray;
    padding-left: 2%;
}
.select-money{
    height: 27%;
    background-color: white;
}
.select-money li{
    width: 29%;
    float: left;
    margin-left: 3%;
    margin-top: 9%;
}
.money{
    width: 100%;
    height: 40px;
    border: solid 1px gray;
    line-height: 40px;
    font-size: 20px;
    background-color: white;
    border-radius: 16px;
}

.pay{
    height: 8%;
    background-color: white;
}
.deposit-btn{
    width: 100%;
    text-align: center;
}
.deposit-btn button{
    width: 70%;
    height: 45px;
    line-height: 45px;
    background-color: #ff3333;
    color: white;
    font-size: 20px;
    border-radius: 16px;
    margin-top: 30px;
}


