body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(../images/loginpage/background.png);
	background-repeat:no-repeat ;
	background-size:100% 100%; 
	background-attachment: fixed;
}

.user-logo{
	padding-top: 90%;
	padding-left: 15%;
	width: 110%;
	height: 10%;
	position: relative;
	
}

.user-logo img{
	height: 30px;
}


.password-logo{
	padding-top: 18%;
	padding-left: 15%;
	width: 110%;
	height: 10%;
	position: relative;
	
}

.password-logo img{
	height: 32px;
}

.login-btn{
	padding-top: 20%;
	padding-left: 30%;
	width: 10%;
	height: 10%;
	position: relative;
}

.login-btn img{
	height: 45px;
}

.regin-btn{
	padding-top: 15%;
	padding-left: 30%;
	width: 10%;
	height: 10%;
	position: relative;
	
}

.regin-btn img{
	height: 45px;
}