body {
    background-color: #eceaea;
}
.all-dishes{
    width: 100%;
    height: auto;
    background-color: white;
    
    position: relative;
    top: 140px;
}
.title{
    height: 40px;
    font-size: 15px;
    line-height: 40px;
}
.title img{
    width: 20px;
    height: auto;
    float: left;
    margin-top: 2%;
    margin-left: 2%;
}
.title p{
    float: left;
    margin-left: 1%;
    color:black;
}
.menu li{
    width: 100%;
    height: 35px;
    line-height: 35px;
    background-color: white;
    border-top: solid 1.5px #eceaea;
    font-size: 14px;
}
.menu p{
    padding-left: 2%;
    float: left;
    text-align: left;
}
.memo{
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: white;
    margin-top: 40%;
    font-size: 15px;
}
.memo p ,.memo-2 p{
    width: 30%;
    float: left;
    padding-left: 2%;
    position: absolute;
    height: 60px;
    line-height: 60px;
}
.memo input{
    width: 50%;
    height: 45px;
    float: right;
    font-size: 15px;
    margin-right: 2%;
    margin-top: 8px;
    text-align:  center;
    background-color: #eceaea;
    color: black;
    border: solid 2px #eceaea ;
}

.memo-2{
    width: 100%;
<<<<<<< HEAD
    height: 80px;
    line-height: 80px;
=======
    height: 60px;
    line-height: 60px;
>>>>>>> 5fa81147b7df6eea142004edf8b0ae6f273188c2
    background-color: white;
    margin-top: 10px;
    font-size: 15px;
}
.memo-2 input{
    width: 50%;
    height: 50px;
    float: right;
    font-size: 15px;
    margin-right: 2%;
    margin-top: 4px;
    text-align: center;
    background-color: #eceaea;
    color: black;
    border: solid 2px #eceaea ;
}
.memo-2 input::-webkit-input-placeholder {
         /* placeholder颜色  */
         color: graytext;
         /* placeholder字体大小  */
         font-size: 12px;
         line-height: 14px;
         /* placeholder位置  */
         text-align: right;
}

.demo3 {
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: white;
    
    font-size: 15px;
    margin-top: 10px;
}

.ok-btn {
    width: 43%;
    height: 45px;
    background-color: red;
    margin-left: 32%;
    border-radius: 10px;
    margin-top: 10px;
    line-height: 45px;
    text-align: center;
    color: white;
    font-size: 17px;
}

.note{
    height: 10px;
    line-height: 10px;
    margin-top: 65px;
    position: absolute;
    font-size: 7px;
    color: red;
    width: 100%;
    text-align: center;
}