*{
    -webkit-appearance:none;
    -moz-appearance:none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-overflow-scrolling: touch;
    font-family:'Helvetica Neue','微软雅黑','Helvetica', 'sans-serif';
    outline:0;
    -webkit-font-smoothing:antialiased;

    margin:0px;
    padding: 0px;
    list-style-type: none;
    box-sizing: border-box;
   
}

body{
    color:#222;
    height: 100%;
}

/* 去掉IE下拉菜单 */
select::-ms-expand { display: none; }



.red-btn{
    
    text-align: center;
    background-color: #bb0000;
    color:white;
    border-radius: 3px;
    border: none;
}

